.bg {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    color: white;
    -webkit-text-stroke: 4px black;
    overflow: hidden;
}

.bg video {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100vh;
}

.clock-container {
    backdrop-filter: blur(1px);
    font-size: 100px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}
.date{
    display:block;
    backdrop-filter: blur(1px);
    font-size: 100px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 2;
}
.hide{
    display:none;
}