/* Icon (cog / close) */
.setting-icon {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background:black;
  color: white;
  border: none;
  font-size: 25px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.setting-icon:hover{
  transform:rotate(90deg);
}

/* When active → slide to 300px */
.setting-icon.active {
  transform: translateX(125px);
  color:red;
}

/* Buttons container */
.btn-wrapper {
  position: fixed;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(20px);
  border-radius: 20px;
  top: 0;
  left: 0px;
  padding: 15px;
  padding-left:0px;
  padding-top: 0px;
  border-radius: 0 8px 8px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  width:175px;
}
.btn-wrapper div{
  color:white;
  background: black;
  height:50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size:25px;
  padding-left: 5px;
  
}
.btn-wrapper p{
  
  color: white;
  -webkit-text-stroke: 0.5px black;
  font-size:20px;
  font-weight: bold;
  
}
/* Show panel when active */
.btn-wrapper.active {
  opacity: 1;
  pointer-events: auto;
  
}

/* Buttons inside */
.btn-wrapper button {
  background: linear-gradient(135deg, #151823 0%, #343335 100%);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-wrapper button:hover {
  background: #f4efef;
  color:black;
  transform: translateY(-3x);
}
